.tabs-content-one{
  .complete-information{
    color: #cccccc;
    font-size: 12px;
    height: 40px;
    //background-color: #ff3f29;
    line-height: 40px;
    padding: 0 20px;
  }
  .submit-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .top-div{
      padding: 0 20px;
      height: 808px;
      width: 100%;

    }
    .bottom-div{
      padding: 0 20px;
      flex-grow: 1;
      background-color: #fafafa;
      border-top: 1px solid #eaeaea;
      position: relative;
      height: 84px;
      .save-button{
        position: absolute;
        top: 20px;
        left: 110px;
        height: 44px;
        width: 88px;
        font-size: 16px;
        font-weight: bolder;
      }

    }
  }
  .bottom-div{
    height: 84px;
    position: relative;
    .save-button-save{
      position: absolute;
      top: 20px;
      left: 110px;
      height: 44px;
      width: 88px;
      font-size: 16px;
      font-weight: bolder;

    }
    .save-button-cancel{
      position: absolute;
      top: 20px;
      left: 220px;
      height: 44px;
      width: 88px;
      font-size: 16px;
      font-weight: bolder;
    }
  }
}

.basic-information-text{
  font-size: 21px;
  color: #444444;
  margin-top: 20px;
  margin-bottom: 10px;
}